html 
{
    font-size: 16px;
}
.header-outer 
{
    padding:30px 100px;
}
.header
{
    max-width: 1200px;
    margin: 0 auto;
    /* width: 100vw; */
    /* overflow: hidden; */
}
.header-left 
{
    display: flex;
    align-items: center;
    gap: 50px;
}
.logo 
{
    font-family: 'Epilogue';
    font-weight: bolder;
}
.navigation ul 
{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 50px;
}
.navigation ul li 
{
    font-family: 'Epilogue';
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}
.navigation ul li a
{
    color:gray;
    font-weight: 500;
    text-decoration: none;
    transition: all 100ms ease-in-out;
}
.navigation ul li a:hover 
{
    color: black;
}
.drop-down
{
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;;
}
.icon-arrow 
{
    width: 18px;
}
.drop-down-content 
{
    position: absolute;
    top:30px;
    left:-30px;
    display: flex;
    flex-direction: column;
    /* gap: 18px; */
    color:gray;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 25px 0;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}
.drop-down-content li 
{
    display: flex;
    gap: 10px;
    padding:12px 30px;
}
.drop-down-content li:hover 
{
    background-color: rgb(197, 197, 197);
    color:black;
}
.drop-down-content-2
{
    position: absolute;
    top:30px;
    right: -40px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: gray;
    background-color: white;
    padding: 20px 0;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
}
.header-mobile 
{
    display: none;
    z-index: 99;
}
.drop-down-content-2 li 
{
    display: flex;
    gap: 10px;
    padding:12px 30px;
}
.drop-down-content-2 li:hover 
{
    background-color: rgb(197, 197, 197);
    color:black;
}
.header 
{
    display: flex;
    justify-content: space-between;
}
.header-right 
{
    display: flex;
    align-items: center;
    font-family: 'Epilogue';
    gap: 50px;
    font-weight: bold;
    color: gray;
}
.register 
{
    border:2px solid gray;
    padding: 10px 20px;
    border-radius: 10px;
}
.login, .register 
{
    cursor: pointer;
}
.register:hover 
{
    color:black;
    border:2px solid black;
}
.burger-menu
{
    z-index: 999;
}
@media screen and (max-width:1000px)
{
    html 
    {
        font-size: 12px;
    }   
}
@media screen and (max-width:900px)
{
    html 
    {
        font-size: 16px;
    }
    .header-outer
    {
        padding: 20px 30px;
        /* min-width: 600px; */
    }
    .navigation 
    {
        display: none;
    }
    .header-right 
    {
        display: none;
    }
    .header-mobile 
    {
        display: block;
        position: relative;
    }
    .header 
    {
        align-items: center;
    }
    .header-mobile-content 
    {
        position: absolute;
        /* right: -30px; */
        z-index: -1;
        background-color: white;
        font-family: 'Epilogue';
        width: 60vw;
        font-weight: 500;
        height: 100vh;
        /* width: 50%; */
        padding: 100px 0 0 30px;
        top:-25px;
        box-sizing: border-box;
        font-size: 1.2rem;
        /* visibility: hidden; */
        right: -250px;
        overflow: hidden;
        transition: all 200ms ease-in-out;
    }
    .drop-down-content-3
    {
        display: flex;
        flex-direction: column;
        color:gray;
        box-sizing: border-box;
        /* padding: 25px 0; */
        visibility: hidden;
        max-height: 0;
    }
    .drop-down-content-3 li 
    {
        list-style-type: none;
        display:flex;
        padding:10px 30px;
        gap: 15px;
        cursor: pointer;
        font-family: 'Epilogue';
    }
    .drop-down-content-3 li:hover 
    {
        color:black;
        background-color: #c9c6c6;
    }
    .drop-down-content-4 
    {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        color: gray;
        /* padding: 20px 0; */
        visibility: hidden;
        max-height: 0;
    }
    .drop-down-content-4 li 
    {
        list-style-type: none;
        padding: 10px 30px;
        cursor: pointer;
    }
    .drop-down-content-4 li:hover 
    {
        color: black;
        background-color: #c9c6c6;
    }
    .header-mobile-content li 
    {
        list-style-type: none;
    }
    .header-mobile-content li a 
    {
        text-decoration: none;
        color:gray;
    }
    .drop-down
    {
        padding:5px 0;
    }
    .btn-container 
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:20px 0;
        gap: 20px;
        color:gray;
    }
    .header-overlay 
    {
        height: 100vh;
        width: 100vw;
        position: absolute;
        background-color: gray;
        z-index: -10;
        top: 0;
        left: 0;
        transition: all 200ms ease-in-out;
    }
    .header-mobile-content ul li
    {
        padding:10px 0;
    }
}