html 
{
    font-size: 16px;
}
.main 
{
    padding: 20px 150px;
    font-family: 'Epilogue';
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;;
}
.main-left
{
    width: 60%;
    /* padding:80px; */
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.main-right 
{
    width: 40%;
    position: relative;
}
.main-right img 
{
    width: 100%;
}
.main-left h1 
{
    font-weight: bolder;
    font-size: 70px;
}
.main-left p 
{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color:gray;
}
.main-left button 
{
    color:white;
    background-color: black;
    font-family: 'Epilogue';
    width: 200px;
    text-align: center;
    height: 50px;
    border:none;
    font-size: 17px;
    /* padding:10px 80px; */
    border-radius: 15px;
    cursor: pointer;
}
.main-left button:hover 
{
    background-color: white;
    border:3px solid black;
    color:black;
}
.logo-div 
{
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero-img
{
    z-index: -5;
    /* position: absolute; */
}
@media screen and (max-width:1000px)
{
    .main
    {
        flex-direction: column-reverse;
        /* border:2px solid red; */
        z-index: -777;
        padding: 10px 30px;
        margin: 20px 0 0 0;
        gap: 50px;
    }
    .main-left
    {
        width: 100%;
        text-align: center;
        align-items: center;
        z-index: -99;
        padding:0;
        margin: 0;
    }
    .main-right
    {
        width: 100%;
        margin: 0;
        padding:0;
    }
    .logo-div
    {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}